body {
	background: url('../images/mainbg.png');
  font-family: 'Ubuntu';
}

#sitename {
  width: 500px;
  margin: 35px auto 0 auto;
  text-align: center;
  cursor: default;
}

img{
  width: inherit;
}

#content a{
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

#content ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#content li{
  display: block;
  height: 200px;
  width: 200px;
  margin: 3px auto 3px auto;
  background: rgba(0,0,0,0.075);
  border: 3px solid rgba(0,0,0,0.2);
  border-radius:8px;
	overflow: hidden;
  transition: background .25s;
}

#content li:hover{
  background: rgba(27,168,224,0.25);
}

#content li:active{
  background: rgba(27,168,224,0.5);
}

#content hr{
  width: 200px;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(99,99,99,0.75), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(99,99,99,0.75), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(99,99,99,0.75), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(99,99,99,0.75), rgba(0,0,0,0));
}

#content li h2{
  color: rgb(99,99,99);
  margin-bottom:5px;
}

#content li p{
  color: rgb(99,99,99);
}
